<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>251194460438-mk2t1p7ip6o22npl3tlolildd26potep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA26f_BqRpTk057hiNwZxAs5IAwaKWd8sk</string>
	<key>GCM_SENDER_ID</key>
	<string>251194460438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashboardFisei</string>
	<key>PROJECT_ID</key>
	<string>horarios-fisei</string>
	<key>STORAGE_BUCKET</key>
	<string>horarios-fisei.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251194460438:ios:68045091ae38f236d96837</string>
</dict>
</plist>